<div class="row">
    <div class="col-lg-12">
        <div class="accordion" id="accordionExample">
            {% for item in site.data.elasticsearch-home-data.components %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.index }}">
                    <button class="accordion-button {% unless forloop.first %}collapsed{% endunless %}" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}"
                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                        aria-controls="collapse{{ forloop.index }}">
                        {{ item.title }}
                    </button>
                </h2>
                <div id="collapse{{ forloop.index }}"
                    class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                    aria-labelledby="heading{{ forloop.index }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if item.content_partial %}
                        {% include {{ item.content_partial }} %}
                        {% elsif item.description %}
                        <p>{{ item.description }}</p>
                        {% else %}
                        <p>No content provided.</p>
                        {% endif %}
                        {% if item.url %}
                        <p>
                            <a href="{{item.url}}">Blog</a>
                        </p>
                        {% endif %}
                        {% if item.imageUrl %}
                        <div class="text-center">
                            <img src="{{ item.imageUrl }}" alt="{{ item.title }}" class="img-fluid">
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>