<header id="header" class="header fixed-top d-flex align-items-center p-3">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
            <img src="/assets/img/logo.png" alt="Jinna Balu">
            <span>Jinna Balu</span>
        </a>
    </div>
    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item pe-2">
                <a class="nav-link{% if page.url == '/tech-timeline' %} active{% endif %}" href="/tech-timeline">Articles</a>
            </li>
            <li class="nav-item pe-2">
                <a class="nav-link{% if page.url == '/vibhuvioio' %} active{% endif %}" href="/vibhuvioio">VibhuviOiO</a>
            </li>
            <li class="nav-item pe-2">
                <a class="nav-link{% if page.url == '/about' %} active{% endif %}" href="/about">About</a>
            </li>
            <li class="nav-item pe-2">
                <a class="nav-link{% if page.url == '/profile' %} active{% endif %}" href="/profile">Resume</a>
            </li>
            <li class="nav-item dropdown pe-2">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="/assets/img/jinnabalu.jpeg" alt="Profile" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" target="_blank" href="https://github.com/jinnabaalu">
                            <i class="bi bi-github"></i> GitHub
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" target="_blank" href="https://jinnabaalu.medium.com/">
                            <i class="bi bi-medium"></i> Medium
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" target="_blank" href="https://www.linkedin.com/in/jinnabaalu/">
                            <i class="bi bi-linkedin"></i> LinkedIn
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" target="_blank" href="https://stackoverflow.com/users/4348824/jinna-baalu">
                            <i class="bi bi-stack-overflow"></i> StackOverflow
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="/social-responsibility">
                            <i class="bi bi-flower1"></i> Social Responsibility
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>